<!-- Validation failure messages -->

<% if @plan_type.errors.any? %>
  <% @plan_type.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Plan Type</h3>
      </div>
      <div class="panel-body">
        <form action="/create_plan_type" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for plan_type -->
          <div class="form-group">
            <label for="plan_type" class="col-sm-2 control-label">
              Plan type
            </label>
            <div class="col-sm-10">
              <input type="text" id="plan_type" name="plan_type" placeholder="Plan type" class="form-control" value="<%= @plan_type.plan_type %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Plan Type
              </button>
              or
              <a href="/plan_types">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
